.uber{
  background-color: black;
  color: white;
  border: none; 
  height: 40px;
  width: 110px;
  cursor: pointer;
 }
 .amazon{
   background-color: rgb(255,216,20);
   border: none;
   border-radius: 30px;
   width: 160px;
   height: 30px;
   font-weight: bold;
   cursor: pointer;
 }
 .github{
   background-color: rgb(46,164,79);
   color: white;
   border: none;
   border-radius: 6px;
   width: 80px;
   height: 30px;
   cursor: pointer;
 }
 .bootstrap1{
   background-color: rgb(121,82,179);
   color: white;
   border: none;
   border-radius: 5px;
   font-weight: bold;
   height: 40px;
   width: 110px;
   margin-right: 10px;
   cursor: pointer;
 }
 .bootstarp2{
   background-color: white;
   color: rgb(108,117,125);
   border: 1;
   border-color: rgb(108,117,125);
   border-radius: 5px;
   font-weight: bold;
   height: 40px;
   width: 100px;
   cursor: pointer;
 }
 .linkedin1{
   background-color: rgb(10,102,194 );
   border: none;
   color: white;
   border-radius: 30px;
   height: 35px;
   width: 210px;
   font-weight: bold;
   margin-right: 10px;
   cursor: pointer;
 }
 .linkedin2{
   background-color: white;
   color: rgb(10,102,194 );
   border-color: rgb(10,102,194 );
   border-radius: 30px;
   height: 35px;
   width: 70px;
   font-weight: bold;
   cursor: pointer;
 }
 .uber:hover{
  opacity: 80%;
 }
 .amazon:hover{
  background-color: rgb(225, 191, 19);
 }
 .github:hover{
  box-shadow: 3px 3px 10px black ;
 }
 .bootstrap1:hover{
  background-color: rgb(102, 69, 151);
 }
 .bootstarp2:hover{
  background-color: rgb(108,117,125);
  color: white;
 }
 .linkedin1:hover{
  background-color: rgb(7, 71, 134);
 }
 .linkedin2:hover{
  background-color: rgba(19, 133, 246, 0.212);
  border-width: 3px;
 }