body{
  font-family: Arial, Helvetica, sans-serif;
}
.textbox{
  display: block;
  margin-bottom: 3px;
}

p{
  display: inline-block;
  width: 220px;
  vertical-align: middle;
}

.img1{
  width: 300px;
  align-items: center;
  display: block;
}

.textbox2{
  width: 450px;
  height: 30px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 2px grey;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.textbox3{
  display: inline-block;
  height: 25px;
  width: 15vh;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px grey;
  padding: 0 15px;
}

.textbox4{
  height: 25px;
  width: 35vh;
  border: none;
  box-shadow: 0 0 2px grey;
  border-radius: 5px;
  display: block;
  margin-bottom: 12px;
  padding: 0 15px;
}

.tombol{
  background-color: rgb(77, 122, 255);
  color: white;
  font-weight: bold;
  height: 30px;
  width: 32vh;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tombol:hover{
  background-color: rgb(57, 107, 255);
}

.textbox5{
  display: block;
  margin-bottom: 5px;
  background-color: rgba(128, 128, 128, 0.11);
  border: none;
  height: 30px;
  width: 40vh;
  padding: 0 15px;
}

.tombol2{
  background-color: black;
  color: white;
  margin-right: 9px;
  height: 35px;
  width: 15vh;
  border: 1;
  cursor: pointer;
}
.tombol2:hover{
  background-color: rgb(68, 68, 68);
  
}

.tombol3{
  height: 35px;
  width: 20vh;
  border: none;
  cursor: pointer;
}
.tombol3:hover{
  background-color: rgba(128, 128, 128, 0.399);
}